@tailwind base;
@tailwind components;
@tailwind utilities;

.border_link:hover {
  border-bottom: 4px solid #ef4444;
  padding-bottom: 1px;
}

.active_link {
  border-bottom: 4px solid #ef4444;
  padding-bottom: 1px;
}

.border_link {
  border-bottom: 4px solid #f6f6f6;
  transition: border-bottom 0.2s ease-in;
}

.bg_all {
  background-color: #f6f6f6;
}

.scroll_button {
  position: fixed;
  width: 100%;
  left: 46%;
  bottom: 15%;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: green;
}
